<div class="form-builder">
    <form *ngIf="form" [formGroup]="form">
        <ng-container formArrayName="questions">
            <ng-container *ngFor="let question of questions.controls; let i = index">
                <ng-container [formGroupName]="i">
                    <div class="form-group">
                        <label>{{question.get('questionTitle')?.value}}</label>
                        <ng-container *ngIf="question.get('questionType')?.value !== 'checkbox'; else checkboxTmp">
                            <textarea class="form-control" formControlName="answerArea"></textarea>
                        </ng-container>
                        <ng-template #checkboxTmp>
                            <ng-container formArrayName="answerOptions">
                                <ng-container *ngFor="let answerOption of getAnswerOption(question).controls; let j = index">
                                    <ng-container [formGroupName]="j">
                                        <div class="form-group form-check">
                                            <input class="form-check-input" type="checkbox" formControlName="option" />
                                            <label class="form-check-label">{{answerOption.get('optionLabel')?.value}}</label>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                        </ng-template>
                    </div>
                </ng-container>
            </ng-container>
        </ng-container>
        <div class="add-new-question-btn">
            <a href="javascript:void(0)" (click)="onAddNewQuestion()">Add New Question</a>
        </div>
        <div class="review-my-answer-btn mt-3">
            <button *ngIf="form.value.questions.length > 0" class="btn btn-primary" (click)="onSubmit()">Review my answer ></button>
        </div>
    </form>
</div>